# Localversion
CONFIG_LOCALVERSION="-Twilight_KernelSU"

# POLLY
CONFIG_POLLY_CLANG=y

# DTBO
CONFIG_BUILD_ARM64_DT_OVERLAY=y

# QCACLD
CONFIG_QCA_CLD_WLAN=y

# exFAT
CONFIG_EXFAT_FS=y

# pstore
CONFIG_CMDLINE="ramoops_memreserve=4M"
CONFIG_CMDLINE_EXTEND=y
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
CONFIG_BLK_WBT=y
CONFIG_BLK_WBT_SQ=y
CONFIG_MTD=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_OOPS=y
CONFIG_MTD_BLOCK2MTD=y

# IR
CONFIG_MEDIA_RC_SUPPORT=y
CONFIG_LIRC=y
CONFIG_RC_DEVICES=y
CONFIG_IR_SPI=y

# initramfs
CONFIG_INITRAMFS_IGNORE_SKIP_FLAG=y

# LKMD (Low-Memory-Killer-Daemon) dependencies
# CONFIG_ANDROID_LOW_MEMORY_KILLER is not set
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_PSI=y

# Haptics
CONFIG_LEDS_QPNP_HAPTICS=n
CONFIG_INPUT_QTI_HAPTICS=y

# vDSO
CONFIG_COMPAT_VDSO=y

# Debloat
# CONFIG_BOUNCE is not set
CONFIG_FRAME_WARN=0
# CONFIG_PROFILING is not set
# CONFIG_AUDIT is not set
# CONFIG_CPU_IDLE_GOV_MENU is not set
# CONFIG_ECRYPT_FS is not set
# CONFIG_SECURITY_SELINUX_AVC_STATS is not set
# CONFIG_OF_MDIO is not set
# CONFIG_MII is not set
# CONFIG_PHYLIB is not set
# CONFIG_USB_NET_DRIVERS is not set
# CONFIG_L2TP is not set
# CONFIG_IOSCHED_DEADLINE is not set
# CONFIG_CRYPTO_MD4 is not set
# CONFIG_HID_APPLE is not set
# CONFIG_HID_MAGICMOUSE is not set
# CONFIG_HID_MICROSOFT is not set
# CONFIG_PPTP is not set
# CONFIG_DEVFREQ_GOV_USERSPACE is not set
# CONFIG_MMC is not set
# CONFIG_HDCP_QSEECOM is not set
# CONFIG_CPU_FREQ_TIMES is not set

# Frame pointers
# CONFIG_KALLSYMS is not set
# CONFIG_FRAME_POINTER is not set

# Jump Label
CONFIG_JUMP_LABEL=y

# Power efficient workqueues
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y

# Skip sync
CONFIG_SUSPEND_SKIP_SYNC=y

# VM Mapping
CONFIG_PGTABLE_MAPPING=y

# Debug
# CONFIG_DEBUG_KERNEL is not set
# CONFIG_FTRACE is not set
# CONFIG_STACKTRACE is not set
# CONFIG_IPC_LOGGING is not set
# CONFIG_DRM_SDE_EVTLOG_DEBUG is not set
# CONFIG_IOMMU_DEBUG is not set

# Modules
# CONFIG_MODULES is not set
# CONFIG_BRIDGE_NETFILTER is not set
# CONFIG_MSM_RDBG is not set
# CONFIG_DVB_MPQ is not set
# CONFIG_DVB_MPQ_DEMUX is not set
# CONFIG_LCD_CLASS_DEVICE is not set
# CONFIG_QCOM_LLCC_PERFMON is not set

# Compression
# CONFIG_CRYPTO_LZO is not set
CONFIG_CRYPTO_ZSTD=y

# Zram
CONFIG_ZRAM_DEDUP=y

# Pelt
# CONFIG_PELT_UTIL_HALFLIFE_32 is not set
CONFIG_PELT_UTIL_HALFLIFE_16=y
